.nav {
    transition: .2s;
    padding-top: 56px;
    padding-bottom: 16px;

    .nav-container {
        display: grid;
        grid-template-columns: 1fr 3fr 1fr;
        align-items: center;
        justify-items: end;
        color: var(--secondary-color);
        font-weight: 500;
        font-size: 13px;
        line-height: 1.46em;
        width: 100%;
        position: relative;
        padding-top: 0px;
        padding-bottom: 0px;
    }

    .nav__logo {
        grid-area: 1/1/2/2;
        padding: 5px 0;
        margin-top: 10px;
        justify-self: start;
    }

    .nav__items {
        grid-area: 1/2/2/3;
        justify-self: center;

        ul {
            display: flex;
            align-items: center;
            gap: 32px;
            list-style: none;

            li:hover {
                opacity: 0.5;
                transition: .2s;
            }

            a {
                text-decoration: none;
                color: var(--secondary-color);
            }
        }

        &.nav__items--mobile {
            display: block;
            grid-area: 1/1/1/4;
            position: absolute;
            top: 80px;
            left: 0;
            right: 0;
            margin-left: auto;
            margin-right: auto;
            background: #FFFFFF;
            box-shadow: 0px 10px 20px rgba(80, 86, 98, 0.03);
            width: 100%;
            border-radius: 4px;
            font-size: 16px;
            font-weight: 700;
            line-height: 1.46em;
            text-align: center;
            letter-spacing: -0.285714px;
            padding: 40px 0;
            z-index: 50;

            animation: 0.5s fade-in;

            @keyframes fade-in {
                0% {
                    opacity: 0;
                    top: 200px;
                }

                100% {
                    opacity: 1;
                    top: 80px;
                }
            }


            ul {
                display: flex;
                flex-direction: column;
            }
        }
    }

    .nav__shadow {
        position: fixed;
        opacity: 1;
        top: 0px;
        left: 0px;
        width: 100vw;
        height: 100vh;
        background: linear-gradient(180deg, rgba(0, 0, 0, 0.0001) 0.33%, rgba(0, 0, 0, 0.599049) 99.79%);
        z-index: 25;
        transition: opacity .5s ease-out;

        &--hidden {
            visibility: hidden;
            opacity: 0;
        }
    }

    .nav__btn {
        grid-area: 1/3/2/4;
        justify-self: end;
    }

    .nav-hamburger--hidden {
        display: none;
    }

    .hamburger__item--is-hidden {
        display: none;
    }

    &.nav--sticky {
        $secondary-color:#242D52;
        position: sticky;
        background-color: var(--background-color);
        top: -40px;
        z-index: 15;
        box-shadow: 0px 8px 30px -26px rgba($secondary-color, .5);
        transition: .2s;
    }

    @media only screen and (max-width:1000px) {
        padding-top: 40px;

        .nav-hamburger {
            display: flex;
            cursor: pointer;
            grid-area: 1/3/2/4;
            justify-self: end;
            z-index: 50;

            .hamburger__item {
                width: 25px;
                height: 25px;
            }
        }

        .nav__items,
        .nav__btn {
            display: none;
        }

        &.nav--sticky {
            top: -30px;
            padding-bottom: 10px;
        }
    }
}

.stop-scrolling {
    contain: none;
    overflow: hidden;
}