#nav {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    align-items: center;
    color: $secondary-color;
    font-weight: 500;
    font-size: 13px;
    line-height: 19px;
    position: relative;
    z-index: 50;

    .logo {
        grid-area: 1/1/2/2;
    }

    .nav-items {
        grid-area: 1/2/2/3;
        justify-self: center;
        position: relative;

        ul {
            display: flex;
            align-items: center;
            gap: 32px;
            list-style: none;

            li:hover {
                opacity: 0.5;
            }

            a {
                text-decoration: none;
                color: $secondary-color;
            }
        }

        &.nav-mobile {
            display: block;
            grid-area: 1/1/1/4;
            position: absolute;
            top: 80px;
            left: 0;
            right: 0;
            margin-left: auto;
            margin-right: auto;
            background: #FFFFFF;
            box-shadow: 0px 10px 20px rgba(80, 86, 98, 0.03);
            width: 100%;
            border-radius: 4px;
            font-size: 16px;
            font-weight: 700;
            line-height: 23px;
            text-align: center;
            letter-spacing: -0.285714px;
            padding: 40px 0;

            ul {
                display: flex;
                flex-direction: column;
            }
        }
    }

    .button {
        grid-area: 1/3/2/4;
        justify-self: end;
        @extend %button-design;
    }

    .hidden,
    .mobile-hidden {
        display: none;
    }
}

.gradient {
    position: fixed;
    top: 0px;
    width: 100%;
    height: 1000px;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.0001) 0.33%, rgba(0, 0, 0, 0.599049) 99.79%);
    z-index: 25;
}

@media only screen and (max-width:1000px) {
    #nav {

        .hamburger {
            display: flex;
            cursor: pointer;
            grid-area: 1/3/2/4;
            justify-self: end;
            z-index: 40;

            img {
                width: 25px;
                height: 25px;
            }
        }

        .close-button {
            display: flex;
            justify-self: end;
            grid-area: 1/3/2/4;
            z-index: 40;
            cursor: pointer;

            img {
                width: 25px;
                height: 25px;
            }
        }

        .nav-items,
        .button,
        .mobile-hidden {
            display: none;
        }
    }
}


.accent {
    position: relative;

    .overflow-wrap {
        position: absolute;
        width: 100%;
        height: 1000px;
        overflow: hidden;

        .accent-img {
            position: relative;
            @extend %accent-image;

            &.sub-nav {
                opacity: 1;
                left: clamp(300px, 68vw, 1200px);
                top: -250px;
                z-index: -5;
            }
        }
    }
}

@media only screen and (max-width:768px) {
    .accent .overflow-wrap .accent-img {
        width: 244px;
        height: 542px;

        &.sub-nav {
            top: -100px;
            left: clamp(150px, 40vw, 300px);
        }
    }
}