@font-face {
    font-family: 'Be Vietnam';
    font-style: normal;
    font-weight: 400;
    src: url('../src/assets/fonts/BeVietnam-Regular.woff') format('woff');
}

@font-face {
    font-family: 'Be Vietnam';
    font-style: italic;
    font-weight: 400;
    src: url('../src/assets/fonts/BeVietnam-Italic.woff') format('woff');
}

@font-face {
    font-family: 'Be Vietnam';
    font-style: normal;
    font-weight: 700;
    src: url('../src/assets/fonts/BeVietnam-Bold.woff') format('woff');
}

@font-face {
    font-family: 'Be Vietnam';
    font-style: normal;
    font-weight: 500;
    src: url('../src/assets/fonts/BeVietnam-Medium.woff') format('woff');
}


@font-face {
    font-family: 'font-some';
    src: url('../src/assets/fonts/font-some.woff') format('woff'),
        url('../src/assets/fonts/font-some.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


:root{
    --font-stack: 'Be Vietnam', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    --font-some: 'font-some', 'Be Vietnam Pro', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    --secondary-color:#242D52;
    --primary-color: #F3603C;
    --background-color: #FFFFFF;
    --footer-color: #1D1E25;
    --error-color: #F33C3C;
    --button-text-color: #FCF6F5;
    --testimonials-color: #FAFAFA;
    --accent-color: #FFF0EC;
}