.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 16px;
    color: $secondary-color;

    .header__info {
        display: flex;
        flex-direction: column;
        width: 50%;

        .header__title {
            font-weight: 700;
            font-size: clamp(40px, 4vw, 56px);
            line-height: 1.14em;
            letter-spacing: -1px;
            max-width: 16ch;
            padding-bottom: 16px;
        }

        .header__desc {
            font-weight: 400;
            font-size: 16px;
            line-height: 1.62em;
            opacity: 0.5;
            max-width: 32ch;
            margin-bottom: 40px;

            p:not(:last-child){
                margin-bottom: 16px;
            }
        }

        .header__btn {
            justify-self: start;
            width: fit-content;
        }
    }

    .header__image {
        max-width: 540px;
        width: 50%;
        position: relative;

        .header__blob {
            position: absolute;
            width: 436px;
            height: 970px;
            bottom: 280px;
            left: -30px;
            background: $accent-color;
            border-radius: 272px;
            transform-origin: bottom left;
            transform: rotate(45deg);
            z-index: -1;
        }
    }

    @media only screen and (max-width:768px) {
        text-align: center;
        flex-direction: column-reverse;
        padding-top: 32px;

        .header__info {
            align-items: center;
            width: 100%;

            .header__button {
                align-self: center;
            }
        }

        .header__image {
            width: 100%;
        }
    }
}