.banner {
    background-color: $primary-color;
    overflow: hidden;

    .banner-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
    }

    .banner__title {
        font-weight: 700;
        font-size: 40px;
        line-height: 1.1em;
        letter-spacing: -0.714286px;
        color: $background-color;
        max-width: 18ch;
    }

    .banner__btn--inverted {
        background-color: $background-color;
        color: $primary-color;
        box-shadow: none;

        &:hover {
            background-color: $background-color;
            color: rgba($primary-color, 0.5);
        }
    }

    .banner__blob {
        position: absolute;
        background: $accent-color;
        opacity: 0.07;
        z-index: 1;
        width: 310px;
        height: 708px;
        border-radius: 272px;
        transform: rotate(45deg);


        &--left {
            top: -140px;
            right: 700px;
        }

        &--right {
            bottom: 0px;
            right: -320px;
        }
    }


    @media only screen and (max-width:768px) {
        .banner-container {
            flex-direction: column;
            text-align: center;
            padding-top: 90px;
            padding-bottom: 90px;
        }

        .banner__title {
            margin-bottom: 28px;
            line-height: 1.25em;
        }
    }
}