.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px clamp(24px,9vw,165px);
    font-family: $font-stack;
    color: $secondary-color;

    .header-left{
        display: flex;
        flex-direction: column;
    }

    h1{
        font-weight: 700;
        font-size: clamp(40px,5vw,56px);
        line-height: clamp(50px,5vw,64px);
        letter-spacing: -1px;
        max-width: 16ch;
        padding-bottom: 16px;
    }
    p{
        font-weight: 400;
        font-size: 16px;
        line-height: 26px;
        opacity: 0.5;
        max-width: 32ch;
        padding-bottom: 40px;
    }
    .button{
        @extend %button-design;
        justify-self: start;
        width: fit-content;
    }

    .header-right{
        max-width: 540px;
        width: 100%;
    }
}

@media only screen and (max-width:768px){
    .header{
        text-align: center;
        flex-direction: column-reverse;
        .header-left{
            align-items: center;
        }

        .button{
            align-self: center;
        }
    }
}

body{
    position: relative;
}

.accent-img{
    position: absolute;
    width: 436px;
    height: 970px;
    right: 0px;
    top: -243.1px;
    background: #FFF0EC;
    border-radius: 272px;
    transform: rotate(45deg);
    z-index: -5;
}