#header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: $secondary-color;
    position: relative;

    .header-left {
        display: flex;
        flex-direction: column;
        width: 50%;

        h1 {
            font-weight: 700;
            font-size: clamp(40px, 4vw, 56px);
            line-height: clamp(50px, 5vw, 64px);
            letter-spacing: -1px;
            max-width: 16ch;
            padding-bottom: 16px;
        }

        p {
            font-weight: 400;
            font-size: 16px;
            line-height: 26px;
            opacity: 0.5;
            max-width: 32ch;
            padding-bottom: 40px;
        }

        .button {
            @extend %button-design;
            justify-self: start;
            width: fit-content;
        }
    }

    .header-right {
        max-width: 540px;
        width: 50%;
    }
}

@media only screen and (max-width:768px) {
    #header {
        text-align: center;
        flex-direction: column-reverse;
        padding-top: 32px;

        .header-left {
            align-items: center;
            width: 100%;

            .button {
                align-self: center;
            }
        }

        .header-right {
            width: 100%;
        }
    }
}