$primary-color: #F3603C;
$secondary-color: #242D52;
$footer-color: #1D1E25;
$accent-color: #FFF0EC;
$button-text-color: #FCF6F5;
$button-shadow-color: #FF9F8E;
$highlight-color: #F98F75;
$background-color: #FFFFFF;
$testimonials-color: #FAFAFA;
$error-color: #F33C3C;

@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro&display=swap');
$font-stack: 'Be Vietnam Pro', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    position: relative;
    overflow-x: hidden;
    font-family: $font-stack;
}


%button-design {
    background-color: $primary-color;
    color: $button-text-color;
    padding: 12px 32px;
    border-radius: 22px;
    box-shadow: 0px 15px 15px -10px $button-shadow-color;
    font-weight: 700;
    font-size: 13px;
    line-height: 19px;
    cursor: pointer;

    &:hover {
        background: $highlight-color;
    }
}

%accent-image {
    width: 436px;
    height: 970px;
    background: $accent-color;
    border-radius: 272px;
    transform: rotate(45deg);
}

.container {
    $padding-lr: 72px;
    padding: 60px $padding-lr;
    margin: 0 auto;
    max-width: calc(1110px + 2 * $padding-lr);
}

@media only screen and (max-width: 1000px) {
    .container {
        $padding-lr: clamp(24px,5vw,72px);
        padding: 60px $padding-lr;
        max-width: calc(1110px + 2 * $padding-lr);
    }
}

@import "./nav";
@import "./header";
@import "./about";
@import "./testimonials";
@import "./banner";
@import "./footer";