.footer {
    background: var(--footer-color);

    .footer-container {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(2, 1fr);
        color: var(--background-color);
    }

    .footer__nav {
        grid-area: 1/2/3/4;

        ul {
            list-style: none;
            font-weight: 400;
            font-size: 15px;
            line-height: 1.46em;
            letter-spacing: -0.234375px;
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            max-height: 130px;
            gap: 13px;

            li {
                margin: 0 32px;
            }

            a {
                text-decoration: none;
                color: var(--background-color);

                &:hover {
                    color: var(--primary-color);
                    transition: .2s;
                }
            }

        }
    }

    .footer-form {
        grid-area: 1/4/2/5;
        justify-self: end;

        form {
            display: flex;
            gap: 8px;
        }

        .form-input-field {
            position: relative;
            width: 100%;

            input {
                max-width: 200px;
                height: 44px;
                border-radius: 22px;
                outline: none;
                font-family: var(--font-stack);
                font-weight: 400;
                font-size: 13px;
                line-height: 1.46em;
                letter-spacing: -0.1px;
                color: var(--error-color);
                padding: 16px;
                border: 1px solid #FFFFFF;

                &:invalid {
                    border: 1px solid var(--error-color);
                }
            }

            &--is-invalid {
                position: absolute;
                top: 50px;
                left: 16px;
                font-style: italic;
                font-weight: 400;
                font-size: 10px;
                line-height: 1.5em;
                letter-spacing: -0.0769231px;
                color: var(--error-color);
            }
        }

        .footer__button {
            border: 1px solid var(--primary-color);
            box-shadow: none;
            padding: 12px 24px;
        }
    }

    .footer__copyright {
        grid-area: 2/4/3/5;
        align-self: end;
        font-weight: 400;
        font-size: 13px;
        line-height: 1.46em;
        text-align: right;
        letter-spacing: -0.203125px;
        opacity: 0.5;
    }

    .footer__some {
        grid-area: 2/1/3/2;
        font-family: var(--font-some);
        font-size: 20px;
        align-self: end;
        display: flex;
        gap: 13px;

        span:hover {
            color: var(--primary-color);
            transition: .2s;
        }
    }

    @media only screen and (max-width:1000px) {
        .footer-container {
            grid-template-columns: 1fr;
            grid-template-rows: none;
            justify-items: center;
            row-gap: 54px;
        }

        .footer__logo {
            grid-area: 4/1/5/2;
        }

        .footer__nav {
            grid-area: 2/1/3/2;
            width: 100%;
            display: flex;
            justify-content: center;

            ul {
                align-content: center;
            }
        }

        .footer-form {
            grid-area: 1/1/2/2;
            justify-self: center;

            .form-input-field {
                width:auto;
                input {
                    width: 100%;
                }
            }

            .footer__button {
                padding: 12px 32px;
            }
        }

        .footer__some {
            grid-area: 3/1/4/2;
            gap: clamp(26px, 9vw, 34px);
            font-size: clamp(24px, 9vw, 32px);
        }

        .footer__copyright {
            grid-area: 5/1/6/3;
        }
    }
}