.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 16px;
    color: $secondary-color;

    .header__info {
        display: flex;
        flex-direction: column;
        width: 50%;

        .header__title {
            font-weight: 700;
            font-size: clamp(40px, 4vw, 56px);
            line-height: 1.14em;
            letter-spacing: -1px;
            max-width: 16ch;
            padding-bottom: 16px;
        }

        .header__desc {
            font-weight: 400;
            font-size: 16px;
            line-height: 1.62em;
            opacity: 0.5;
            max-width: 32ch;
            margin-bottom: 40px;

            p:not(:last-child){
                margin-bottom: 16px;
            }
        }

        .header__btn {
            justify-self: start;
            width: fit-content;
        }
    }

    .header__image {
        justify-self: flex-end;
        align-self: flex-end;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: 50%;
        position: relative;
        $pos: 14px;

        .header__chart {
            width: 50%;
            filter: drop-shadow(0px 10px 20px rgba(80, 86, 98, 0.03));
            aspect-ratio: 1.1/1;

            &--blocks {
                background-color: $background-color;
                display: flex;
                flex-wrap: wrap;
                gap: clamp(10px,3vw,14px);
                padding: clamp(10px,3vw,16px);
            }
        }

        .chart__item {
            $percent: 60%;
            width: 100%;
            height: calc($percent - $pos / 2);
            background-color: $testimonials-color;
            font-weight: 600;
            border-radius: 4px;
            display: flex;
            justify-content: flex-start;
            align-items: flex-end;


            &:not(:first-child) {
                height: calc((100% - $percent) - $pos / 2);
                width: calc(50% - $pos / 2);
            }

            &:nth-child(2) {
                background-color: $primary-color;
                color: $background-color;
            }
        }

        .header__blob {
            position: absolute;
            width: 436px;
            height: 970px;
            bottom: 280px;
            left: -30px;
            background: $accent-color;
            border-radius: 272px;
            transform-origin: bottom left;
            transform: rotate(45deg);
            z-index: -1;
        }
    }

    @media only screen and (max-width:768px) {
        text-align: center;
        flex-direction: column-reverse;
        padding-top: 32px;

        .header__info {
            align-items: center;
            width: 100%;

            .header__button {
                align-self: center;
            }
        }

        .header__image {
            width: 100%;
        }
    }
}